page-home {
    ion-card {
      position: absolute !important;
      top: 2%;
      text-align: center;
      height: 27.5%;
    }

    .card-title {
      position: absolute;
      top: 36%;
      left: 4%;
      font-size: 2.0em;
      font-weight: bold;
      color: #fff;
    }

    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 54%;
      left: 4%;
      color: #fff;
    }

    .card-img{
      position: absolute;
      width: 100%;
      height: 100%;
    }

    .titulo-tours{
      position: absolute;
      color: orangered;
      top: 35%;
      font-size: x-large;
      font-weight: bold;
      left: 2%;
    }

  .grid-basic-page {
    position: absolute;
    top: 40%;

    h5{
      margin-top: 1%;
      color: map-get($colors, textHighlight);
      font-weight: bold;
    }

    p{
      margin-bottom: 1%;
      color: map-get($colors, textHighlight);
    }

    img .square-img{

      object-fit: cover;
      margin-top: 20%;
    }

    ion-col div {
      background-color: #f0f5ff;
      border: 1px solid #e6e9ee;
      border-radius: 2px;
      padding: 5px;
    }
  }
}
