page-destinations-info {
  .imagenTour{
    width:100%;
    height: 4cm;
    object-fit: cover;
  }
  .contenido{
    color: map_get($colors, textVanished);
  }

  .titulo{
    color: map-get($colors, textPrimary);
  }
  .chips{
    color: map-get($colors, textPrimary);
  }

}
